:root{
    --color-dark:#27292a; 
    --color-darkest:#1b1d1e; 
    --color-light: white ;
    --color-primary: #8E94F2;
    --ditance-primary:50px;
    --padding-primary:var(--ditance-primary);
    --margin-primary:var(--ditance-primary);
    --border-radius-primary:calc(var(--ditance-primary)/2);
    --font-wight-bold : 700;    
    --font-wight-normal : 400;  
    --font-primary : 'Poppins','sans-serif';
}
@import url('https://fonts.googleapis.com/css2?family=Poppins:ital,wght@0,400;1,700&display=swap');

body{
  
    background-color: var(--color-darkest);
    font-family: 'Poppins',;
}

li{
    list-style: none;
}

a{
    text-decoration: none;
}